In [134]:
import pandas as pd
df=pd.read_excel('fuel and cost.xlsx')
df.head()

,الاجمالى لمصروف كل سياره,كاوتش,بطاريه,زيوت يناير,صيانه يناير,وقود يناير,كيلومتر يناير,الفرع,رقم السيارة
0,4783,NaN,NaN,0,3380,1403,1067,حكمه,6381.0
1,3580,NaN,NaN,741,668,2171,1292,ديلفرى,5465.0
2,44520,NaN,NaN,633,42032,1855,1046,طيران,3526.0
3,869,NaN,NaN,0,0,869,658,الجامعه,2541.0
4,4991,NaN,NaN,0,1667,3324,3471,ديلفرى,2913.0

In [135]:
df = df.drop(columns=['بطاريه', 'كاوتش'])
df.head()

,الاجمالى لمصروف كل سياره,زيوت يناير,صيانه يناير,وقود يناير,كيلومتر يناير,الفرع,رقم السيارة
0,4783,0,3380,1403,1067,حكمه,6381.0
1,3580,741,668,2171,1292,ديلفرى,5465.0
2,44520,633,42032,1855,1046,طيران,3526.0
3,869,0,0,869,658,الجامعه,2541.0
4,4991,0,1667,3324,3471,ديلفرى,2913.0

In [136]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 192 entries, 0 to 191
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   الاجمالى لمصروف كل سياره  191 non-null    object
 1   زيوت يناير                191 non-null    object
 2   صيانه يناير               191 non-null    object
 3   وقود يناير                191 non-null    object
 4   كيلومتر يناير             191 non-null    object
 5   الفرع                     190 non-null    object
 6   رقم السيارة               189 non-null    float64
dtypes: float64(1), object(6)
memory usage: 10.6+ KB

In [137]:
df = df.drop(df.tail(3).index)
df = df[:-3]
df.tail()

,الاجمالى لمصروف كل سياره,زيوت يناير,صيانه يناير,وقود يناير,كيلومتر يناير,الفرع,رقم السيارة
181,4532,0,2093,2439,2210,ديلفرى,4829.0
182,5764,741,136,4887,4581,ديلفرى,4831.0
183,21859,0,19528,2331,1713,ديلفرى,2538.0
184,5487,741,1048,3698,3759,ديلفرى,2176.0
185,1992,741,1071,180,200,ديلفرى,4371.0

In [138]:
df['الاجمالى لمصروف كل سياره'] = df['الاجمالى لمصروف كل سياره'].astype(int)
df['زيوت يناير'] = df['زيوت يناير'].astype(int)
df['صيانه يناير'] = df['صيانه يناير'].astype(int)
df['وقود يناير'] = df['وقود يناير'].astype(int)
df['كيلومتر يناير'] = df['كيلومتر يناير'].astype(int)
df['رقم السيارة ']=df['رقم السيارة '].astype(int)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186 entries, 0 to 185
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   الاجمالى لمصروف كل سياره  186 non-null    int64
 1   زيوت يناير                186 non-null    int64
 2   صيانه يناير               186 non-null    int64
 3   وقود يناير                186 non-null    int64
 4   كيلومتر يناير             186 non-null    int64
 5   الفرع                     186 non-null    object
 6   رقم السيارة               186 non-null    int64
dtypes: int64(6), object(1)
memory usage: 10.3+ KB

In [139]:
df.tail()

,الاجمالى لمصروف كل سياره,زيوت يناير,صيانه يناير,وقود يناير,كيلومتر يناير,الفرع,رقم السيارة
181,4532,0,2093,2439,2210,ديلفرى,4829
182,5764,741,136,4887,4581,ديلفرى,4831
183,21859,0,19528,2331,1713,ديلفرى,2538
184,5487,741,1048,3698,3759,ديلفرى,2176
185,1992,741,1071,180,200,ديلفرى,4371

In [140]:
df.to_excel('cleaned fuel and cost.xlsx', index=False)